.filter-form-wrapper {
  background: white;
  padding: 10px 10px 0;
  border: solid 1px #ccc;
  border-radius: 5px;
}

.filter-area {
  margin-bottom: 20px;
}

.align-center {
  text-align: center;

  a {
    color: rgb(3 129 235);
  }
}
