<ion-header>
  <ion-toolbar>
    <ion-title>Fact Types</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Fact Types List -->
  <ion-list>
    <ion-item *ngFor="let factType of factTypes" button (click)="loadFactTypeById(factType.id)">
      <ion-label>
        <h2>{{ factType.name }}</h2>
        <p>Key: {{ factType.key }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ng-container *ngIf="selectedFactType?.key === 'survey_phq9'">

    <ng-container *ngIf="!showScore">
      <swiper-container #swiperEl [slides-per-view]="1" pagination="false" navigation="false">
        <!-- PHQ-9 Questions -->
        <swiper-slide *ngFor=" let dimensionType of questionDimensionTypes(); let i=index">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Question {{ i + 1 }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <div class="question-text">{{ dimensionType.name }}</div>

              <ion-radio-group (ionChange)="setAnswer(dimensionType.key, $event.target.value)">

                <ion-radio labelPlacement="end" justify="start" value="0">Not at all (0)</ion-radio>

                <ion-radio labelPlacement="end" justify="start" value="1">Several days (1)</ion-radio>

                <ion-radio labelPlacement="end" justify="start" value="2">More than half the days (2)</ion-radio>

                <ion-radio labelPlacement="end" justify="start" value="3">Nearly every day (3)</ion-radio>

              </ion-radio-group>
            </ion-card-content>
          </ion-card>
        </swiper-slide>

      </swiper-container>
      <!-- Buttons -->
      <div class="button-container">
        <ion-button fill="outline" (click)="goToPrevious()">Previous</ion-button>
        <ion-button fill="solid" color="primary" (click)="goToNext()">Next</ion-button>
      </div>
    </ng-container>


    <!-- Show the Total Score -->
    <ion-card *ngIf="showScore">
      <ion-card-header>
        <ion-card-title>Total PHQ-9 Score</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Your total score is: {{ totalScore }}</p>

        <!-- Conditionally show the follow-up question if score > 0 -->
        <ng-container *ngIf="totalScore > 0">
          <div class="question-text">
            {{ followUpQuestionText() }}
          </div>

          <ion-radio-group (ionChange)="setFollowUpResponse($event.target.value)">

            <ion-radio labelPlacement="end" justify="start" value="0">Not difficult at all</ion-radio>

            <ion-radio labelPlacement="end" justify="start" value="1">Somewhat difficult</ion-radio>

            <ion-radio labelPlacement="end" justify="start" value="2">Very difficult</ion-radio>

            <ion-radio labelPlacement="end" justify="start" value="3">Extremely difficult</ion-radio>
          </ion-radio-group>
        </ng-container>

        <!-- Save Button -->
        <ion-button expand="full" color="primary" (click)="saveQuestionnaire()">Save</ion-button>
      </ion-card-content>
    </ion-card>
  </ng-container>


</ion-content>