
# Secrets
.env*
!.env.example

# Build tools specific
npm-debug.log
yarn-error.log

# Node/npm
node_modules/

# Editors specific
.fleet
.idea
.vscode
.editorconfig

# System files
.DS_Store
Thumbs.db


