swiper-container {
  position: relative;
}

.action-container {
  ion-button {
    width: 100%;
    position: absolute;
    bottom: 10px;
  }
}

.question-text {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}

.survey-header {
  padding: 0px 16px;
}

.survey-instructions {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 8px;
  color: #000;
}

ion-radio {
  width: 100%;
  margin: 12px 0px;
  color: #000;
}

ion-card {
  border-top-right-radius: 0px;
  box-shadow:
    0px 2px 4px 0px rgba(0, 0, 0, 0.2),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14);
}

ion-radio::part(container) {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  border: 2px solid #ddd;
}

ion-radio::part(mark) {
  background: none;
  transition: none;
  transform: none;
  border-radius: 0;
}

ion-radio.radio-checked::part(container) {
  background: var(--ion-color-primary);
  border-color: transparent;
}

ion-radio.radio-checked::part(mark) {
  width: 6px;
  height: 10px;

  border-width: 0px 2px 2px 0px;
  border-style: solid;
  border-color: #fff;

  transform: rotate(45deg);
}

.button-container {
  display: flex;
  justify-content: space-between;
  padding: 16px;

  ion-button {
    width: 45%;
  }
}

ion-button {
  margin: 0px 12px;
  --border-radius: 8px 0px 8px 8px;
}

.question-text {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 8px 0;
  color: #000;
}

ion-chip {
  margin-bottom: 8px;
}

.score-total {
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  color: #000;
  margin: 16px 0px 16px 0px;
}

.assessment-text {
  font-size: 16px;
  line-height: 20px;
  margin: 16px 0;
}

.save-button-container {
  display: flex;
  justify-content: center;
}

.save-button {
  width: 50%;
}