.mat-mdc-row .mat-mdc-cell {
  cursor: pointer;
}

h2 {
  margin: 0;
}

.main-container-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.icons-container {
  display: flex;
  gap: 8px;
}
