$sidenav-border-radius: 0 0 24px 24px;
$card-border-radius: 24px 0 24px 24px;
$active-card-border-radius: 0;
$sidenav-width: 320px;
$arcwell-logo-width: 160px;
$breakpoint-width: 1279.98px;
$full-card-border-radius: 16px 0 16px 16px;
