@use '@angular/material' as mat;
@use 'theme' as theme;
@use 'colors' as colors;

$image-size: 40px;
$spacing: 12px;

.top-bar-container,
.info-container,
.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.top-bar-container {
  justify-content: space-between;
  height: 65px;
  border-bottom: colors.$black;

  .logo {
    width: $image-size;
    height: unset;
  }
}

.info-container,
.button-container {
  gap: $spacing;
}

.user-avatar {
  border-radius: 50%;
  height: $image-size;
  width: $image-size;
}

.top-bar-button:not(:nth-child(3)) {
  &::after {
    content: '';
    margin-left: $spacing;
    border-right: 1px solid colors.$on-primary;
  }
}
