@use '@angular/material' as mat;
@use 'theme' as theme;
@use 'colors' as colors;

$image-size: 40px;
$spacing: 12px;

.top-menu-container,
.info-container,
.link-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.top-menu-container {
  justify-content: space-between;
  height: 65px;
  border-bottom: colors.$black;

  .logo {
    width: $image-size;
    height: unset;
  }
}

.info-container,
.link-container {
  gap: $spacing;
}

.top-menu-link {
  cursor: pointer;
  height: 100%;
  padding-bottom: 6px;
}

.top-menu-nav-link-active {
  border-bottom: 2px solid colors.$white;
}

.top-menu-link:not(:nth-child(3)) {
  &::after {
    content: '';
    margin-left: $spacing;
    border-right: 1px solid colors.$on-primary;
  }
}

.user-avatar {
  border-radius: 50%;
  height: $image-size;
  width: $image-size;
  margin-left: $spacing;
}

.user-icon {
  transform: scale(1.4);
  margin-left: $spacing;
}
