// use shortened path names configured in the angular.json file for imports
@use '@angular/material' as mat;

@mixin button-theme($theme) {
  $primary: mat.get-theme-color($theme, primary);
  $secondary: mat.get-theme-color($theme, secondary);
  $error: mat.get-theme-color($theme, error);

  // add button styles here
  .feature-button-active {
    color: $primary;
    background: mat.get-theme-color($theme, 'primary', 90);
  }
}
