// use shortened path names configured in the angular.json file for imports
@use '@angular/material' as mat;
@use 'colors' as colors;

@mixin button-theme($theme) {
  $primary: mat.get-theme-color($theme, primary);
  $secondary: mat.get-theme-color($theme, secondary);
  $error: mat.get-theme-color($theme, error);

  // add button styles here
  %feature-button-active-state {
    color: $primary;
    background: colors.$primary-90;
  }

  .feature-button-active {
    @extend %feature-button-active-state;
  }

  .subfeature-button-active {
    @extend %feature-button-active-state;

    border-radius: 0;
  }

  .default-form-submit-button {
    width: auto;
    min-width: 200px;
    border-radius: 0;
  }

  .default-form-clear-button {
    width: auto;
    min-width: 200px;
    border-radius: 0;
  }
}
