@use 'colors' as colors;

@mixin config-theme($theme) {
  .config-bar-container {
    color: colors.$dark-blue;
    margin-top: 5px;

    .config-bar-divider {
      margin: 26px 0 20px;
      border-top: 2px solid colors.$primary-70;
    }
  }
}
