@use '@angular/material' as mat;
@use 'colors' as colors;
@use 'layout' as layout;
@use 'typography-base' as typography;

@mixin sidenav-theme($theme) {
  $spacing: 8px;
  $image-size: layout.$arcwell-logo-width;
  $icon-margin: 24px;

  %feature-active-state {
    color: colors.$on-primary;
    background-color: colors.$secondary;
  }

  .sidenav-container {
    width: layout.$sidenav-width;
    border-radius: 0 0 24px;
    background-color: colors.$dark-blue;
    padding: 32px;

    .logo {
      width: $image-size;
      height: unset;
      cursor: pointer;
    }

    .features-menu-divider {
      margin: 24px 0;
      border-top: 2px solid colors.$on-primary;
    }

    .feature-accordion {
      height: 89%;
      display: flex;
      flex-direction: column;
      gap: $spacing;
      padding: $spacing;
      justify-content: space-between;
      overflow-y: visible;

      .mat-expansion-panel {
        background-color: colors.$dark-blue;
        width: 100%;
        border-radius: 0 0 16px 16px;

        @include mat.elevation(0);

        .mat-expansion-panel-header {
          background-color: colors.$dark-blue;
          height: 48px;
          border-radius: 16px 0 0;

          .feature-title {
            display: flex;
            color: colors.$on-primary;
            gap: $spacing;

            @extend %font-weight-regular;

            .feature-icon {
              display: flex;
              justify-content: center;
              width: $icon-margin;
            }
          }

          &:hover {
            background-color: colors.$dark-blue;
          }

          &.feature-active:hover {
            background-color: colors.$secondary;
          }

          &.feature-active {
            @extend %feature-active-state;

            .feature-title {
              @extend %font-weight-bold;
            }
          }
        }

        .mat-expansion-panel-content {
          background-color: colors.$white;
          color: colors.$primary;
          border-radius: layout.$sidenav-border-radius;
          padding-top: 8px;

          .panel-content {
            display: flex;
            flex-direction: column;
            max-height: 200px;
            overflow-y: auto;
            gap: $spacing;
          }

          .subfeature-link {
            margin-left: calc($icon-margin + $spacing);
          }

          .subfeature-link:hover,
          .subfeature-active {
            @extend %font-weight-bold;
          }
        }
      }

      .hide-content {
        .mat-expansion-panel-content {
          display: none;
        }
      }
    }
  }

  // Main Content
  .route-content-container {
    height: 100%;
    width: 100%;
    padding: 1em;
    overflow-y: auto;
    background-color: colors.$content-background;
  }

  // Detail Container
  .detail-container.mat-drawer.mat-drawer-end {
    border-radius: 24px 0 24px 24px;
    min-width: 700px;

    .mat-drawer-inner-container {
      padding: 32px;
    }

    .close-container {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .close-touch-area {
        cursor: pointer;

        &:focus {
          outline: none;
        }

        .close-icon {
          margin-left: 12px;
        }
      }
    }
  }
}
