@use '@angular/material' as mat;

@mixin toolbar-theme($theme) {
  // in order to use color role syntax, @include mat.system-level-colors($theme) must be called in the global styles
  $primary: mat.get-theme-color($theme, primary);
  $on-primary: mat.get-theme-color($theme, on-primary);
  $secondary: mat.get-theme-color($theme, secondary);
  $on-secondary: mat.get-theme-color($theme, on-secondary);
  $error: mat.get-theme-color($theme, error);

  // add toolbar styles here

  .mat-toolbar {
    &.header {
      background: $primary;
      color: $on-primary;
    }

    &.footer {
      background: $secondary;
      color: $on-secondary;
    }
  }
}
