@use '@angular/material' as mat;

//  in order to use color role syntax (such as on-primary), @include mat.system-level-colors($theme) must be called in styles.scss
@mixin toolbar-theme($theme) {
  $primary: mat.get-theme-color($theme, primary);
  $on-primary: mat.get-theme-color($theme, on-primary);
  $secondary: mat.get-theme-color($theme, secondary);
  $on-secondary: mat.get-theme-color($theme, on-secondary);
  $error: mat.get-theme-color($theme, error);

  // add toolbar styles here

  .mat-toolbar {
    &.top-menu {
      background: $primary;
      color: $on-primary;
    }
  }
}
