@use 'colors' as colors;

h4 {
  margin: 0;
}

.main-container-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .icons-container {
    display: flex;
    gap: 30px;
  }

  .table-header-button {
    color: colors.$black;

    .table-header-button-icon {
      margin-right: 8px;
    }
  }
}
