@use 'layout.scss' as layout;
@use 'colors' as colors;

.mat-mdc-row .mat-mdc-cell {
  cursor: pointer;
}

.main-container-header {
  display: flex;
  flex-direction: row;
  place-content: center space-between;
}

.icons-container {
  display: flex;
  gap: 8px;
}

.link-cell {
  text-decoration: underline;
  text-decoration-color: colors.$link-color;
}
