@use 'layout.scss' as layout;

.main-container-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.icons-container {
  display: flex;
  gap: 8px;
}
