<ion-header>
  <ion-toolbar class="header-toolbar" [class]="getPlatformClass()">

    <ion-title>
      <div class="logo-wrapper">
        <ion-img src="../../../assets/arcwell-logo-large.svg" class="logo" />
      </div>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="login-background" [scrollY]="false">
  <div class="login-form">
    <ion-input mode="md" label-placement="floating" label="Email" fill="outline" [(ngModel)]="email" type="email" />
    <ion-input mode="md" label-placement="floating" label="Password" fill="outline" [(ngModel)]="password"
      type="password" />
    <ion-button expand="block" (click)="login()">Login</ion-button>
  </div>
  <p *ngIf="errorMessage">{{ errorMessage }}</p>
</ion-content>