<swiper-container #swiperEl [slides-per-view]="1" pagination="false" navigation="false">
  <swiper-slide *ngFor="let dimensionSchema of questionDimensionSchemas(); let i=index">
    <h1 class="phq9-header">PHQ-9 Survey</h1>
    <ion-card>
      <ion-card-content>
        <ion-chip>Question {{ i + 1 }} of 9</ion-chip>
        <div class="question-text">{{ dimensionSchema.name }}</div>
        <ion-radio-group (ionChange)="setAnswer(dimensionSchema.key, $event.target.value)">
          <ion-radio color="#000" labelPlacement="end" justify="start" value="0">Not at all (0)</ion-radio>
          <ion-radio labelPlacement="end" justify="start" value="1">Several days (1)</ion-radio>
          <ion-radio labelPlacement="end" justify="start" value="2">More than half the days (2)</ion-radio>
          <ion-radio labelPlacement="end" justify="start" value="3">Nearly every day (3)</ion-radio>
        </ion-radio-group>
      </ion-card-content>

      <div class="button-container">
        <ion-button expand="block" fill="outline" (click)="goToPrevious()">Previous</ion-button>
        <ion-button expand="block" fill="solid" color="primary" (click)="goToNext()">Next</ion-button>
      </div>
    </ion-card>
    <div class="action-container">
      <div (click)="openAlert()" class="action">End Survey</div>
    </div>
  </swiper-slide>

  <swiper-slide *ngIf="showScore">
    <h1 class="phq9-header">Thank you for taking the PHQ-9 Survey!</h1>
    <ion-card>
      <ion-card-content>
        <p class="score-total">Your Score: {{ totalScore }}</p>

        <ng-container *ngIf="totalScore > 0">
          <div class="question-text">
            {{ followUpQuestionText() }}
          </div>

          <ion-radio-group (ionChange)="setFollowUpResponse($event.target.value)">
            <ion-radio labelPlacement="end" justify="start" value="0">Not difficult at all</ion-radio>
            <ion-radio labelPlacement="end" justify="start" value="1">Somewhat difficult</ion-radio>
            <ion-radio labelPlacement="end" justify="start" value="2">Very difficult</ion-radio>
            <ion-radio labelPlacement="end" justify="start" value="3">Extremely difficult</ion-radio>
          </ion-radio-group>
        </ng-container>

        <div class="save-button-container">
          <ion-button class="save-button" [disabled]="saveAllowed()" expand="block" fill="solid" color="primary"
            (click)="saveQuestionnaire()">
            Save
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
    <div class="action-container">
      <div class="action" (click)="openAlert()">End Survey</div>
    </div>
  </swiper-slide>
</swiper-container>

<!-- <ion-button (click)="openAlert()">Click Me</ion-button> -->
<ion-alert [isOpen]="isAlertOpen" header="End Survey Without Saving?"
  message="Are you sure you want to exit the survey? Your responses won't be saved."
  [buttons]="alertButtons"></ion-alert>