@use '@angular/material' as mat;
@use 'theme' as theme;
@use 'colors' as colors;

.feature-sub-menu-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
  word-wrap: normal;
  border-right: 2px solid colors.$secondary-70;
  width: 12em;
  gap: 1px;

  .feature-sub-menu-button {
    width: 100%;
    text-align: center;
    text-wrap: nowrap;
    border-radius: 4px;
  }
}
