.event-icon {
  position: absolute;
  right: 0;
  top: 18px;
}

.dimension-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.table-container {
  margin-bottom: 50px;
}
